
=========================================================
# S6E3 Jinja 2 Template with an IF Conditional Statment #
=========================================================

{% if bgp_peers is defined %}
{% for peer in bgp_peers %}
router bgp {{ peer.local_as }}
 bgp log-neighbor-changes
 neighbor {{ peer.peer_ip }} remote-as {{ peer.peer_as }}
 neighbor {{ peer.peer_ip }} description {{ peer.description }}
 neighbor {{ peer.peer_ip }} update-source {{ peer.local_int }} 
 address-family ipv4
 redistribute connected
 neighbor {{ peer.peer_ip }} activate
 neighbor {{ peer.peer_ip }} send-community both
 neighbor {{ peer.peer_ip }} next-hop-self
 neighbor {{ peer.peer_ip }} soft-reconfiguration inbound
{%  if peer.prefix_list_out is defined %}
 neighbor {{ peer.peer_ip }} prefix-list {{ peer.prefix_list_out }} out
{%  endif %}
{%  if peer.route_map_out is defined %}
 neighbor {{ peer.peer_ip }} route-map {{ peer.route_map_out }} out
{%  endif %}
 no auto-summary
 no synchronization
 exit-address-family 
{% endfor %}
{% endif %}    
